<div id="article-banner">
  <h2>About</h2>
  <p class="post-date">关于</p>
</div>

<main class="app-body flex-box">
  <!-- Article START -->
  <article class="post-article">
    <section class="markdown-content"><%- page.content %></section>
	
	<!-- Comment Valine START -->
    <% if (theme.comment) { %>
      <div id="comment" style="margin-top:25px;"></div>
      <script>
        new Valine({
        el: '#comment' ,
        notify: false, // 邮件提醒
        verify: false, // 验证码
        appId: 'HekBroqUfnzrae3osA9j0uPm-gzGzoHsz',
        appKey: 'SzcPQcImGDrHMCFNH68MVtAj',
        placeholder: 'ヾﾉ≧∀≦)o 来啊, 快活啊! (头像是 Gravatar，滋瓷 Markdown)',
        path: window.location.pathname, 
        avatar: 'mm',
		visitor: true // 阅读量统计
      });
      </script>
    <% } %>
	<!-- Comment Valine END -->
	
  </article>
  <!-- Article END -->
</main>

<script>
  (function () {
    var url = '<%= config.url %>/<%= page.path %>';
    $('#article-banner').geopattern(url);
    $('.header').removeClass('fixed-header');
  })();
</script>