<footer class="footer text-center">
    <div id="bottom-inner">
      <a href="http://hexo.io" target="_blank">Hexo</a> |
      <a href="https://github.com/microacup/hexo-theme-micorb" target="_blank">Theme microb</a>
    </div>
  </footer>